<main>
  <section>
    <div class="page">
      <h2 class="page__title">Редагування товару</h2>
      <div class="form">
        <form method="POST" action="/product-edit">
          <div class="form__content">
            <h3 class="form__title">Інформація про товар</h3>
            <div class="form__block">
              <div class="form__field">
                <label for="name" class="form__label">Назва товару</label>
                <input type="text" name="name" class="form__input" value="{{product.name}}">
              </div>
              <div class="form__field">
                <label for="price" class="form__label">Ціна</label>
                <input type="number" name="price" class="form__input" value="{{product.price}}">
              </div>
              <div class="form__field">
                <label for="id" class="form__label">ID</label>
                <input type="number" name="idtech" class="form__input" value="{{product.id}}" disabled>
              </div>
            </div>
            <input type="number" name="id" class="form__input" value="{{product.id}}" style="display: none;">
            <div class="form__field">
              <label for="description" class="form__label">Короткий опис товару</label>
              <input name="description" class="form__input">{{product.description}}</input>
              <span class="simple_font">Відображується у картці товару</span>
            </div>
            <div class="form__block-button">
              <button class="form__button color-blue">Зберегти оновлення</button>
              <a href="/product-delete?id={{product.id}}" class="form__button color-red">Видалити
                товар</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</main>