{{#with data.products}}
{{#if isEmpty}}
<mark>Пустий</mark>
{{else}}
{{#each list}}
<div class="page__content-card">
  <div>{{name}}</div>
  <div class="simple_font">{{description}}</div>
  <div class="text-info simple_font">ID: {{id}}</div>
  <div class="page__card-bottom">
    <div>{{price}}₴</div>
    <a href="/product-edit?id={{id}}" class="link text-blue">Редагувати</a>
  </div>
</div>
{{/each}}
{{/if}}
{{/with}}